#msg-board {
  margin: 10px;
  font-size: 14px;
  background: whitesmoke;
  border: 1px solid gray;
  height: 300px;
  overflow-y: scroll;
  white-space: pre-wrap;
  padding: 3px;
}
#maincode-input {
  width: calc(100% - 25px);
  margin-left: 10px;
  background: whitesmoke;
  height: 300px;
}
#maincode-run-button,
#debugcode-run-button,
#clear-log-button {
  width: 120px;
  height: 50px;
  font-size: 22px;
  margin: 10px;
}

#more-info-board {
    margin: 10px;
    white-space: pre-wrap;
}

#maincode-input-wrapper {
    font-size: 16px;
}

#loading-text {
  font-size: 20px;
  margin: 20px;
}