#msg-board {
  margin: 10px;
  font-size: 14px;
  background: whitesmoke;
  border: 1px solid gray;
  height: 300px;
  overflow-y: scroll;
  white-space: pre-wrap;
  padding: 3px;
}
#maincode-input {
  width: calc(100% - 15px);
  margin-left: 5px;
  background: whitesmoke;
  height: 400px;
}

.CodeMirror {
  height: 400px;
}

#maincode-run-button,
#debugcode-begin-button,
#clear-log-button {
  width: 110px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
}

#debugger-run-pause-button,
#debugger-step-button,
#debugcode-exit-button {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  font-size: 14px;
  margin: 5px;
  vertical-align: top;
}

#debugger-control-zone {
  display: inline-block;
  padding: 5px 20px;
  border: 3px solid darkgray;
  border-radius: 15px;
  margin-left: 10px;
}

#more-info-board {
  margin: 10px;
}

#last-code-board {
  white-space: pre-wrap;
}

#maincode-input-wrapper {
  font-size: 16px;
  margin: 10px;
  height: 410px;
}

#control-pannel-wrapper {
  margin: 10px;
}

#loading-text {
  font-size: 20px;
  margin: 20px;
}

.debug-break-running-code {
  background-color: darkorange;
}

#debug-variable-display-wrapper {
  display: none;
}

#debug-variable-display {
  position: absolute;
  width: 240px;
  right: 50px;
  opacity: 0.8;
  top: 180px;
  background: aliceblue;
  border: 2px solid gray;
  padding: 5px;
  z-index: 999;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0px;
}

table,
td, th {
    border: 1px solid #333;
}

td, th {
  padding: 2px;
}

#debugger-interval-select {
  font-size: 16px;
  margin: 10px;
  margin-left: 0px;
  height: 30px;
}
